<ng-container *ngIf="mode$ | async as mode">
    <!-- Header -->
    <app-detail-header [mode]="mode$ | async" [title]="title$ | async" [createTitle]="createTitle" [icon]="icon"
        [canEdit]="canEdit$ | async" [canDelete]="canDelete$ | async" [isSubmitting]="isSubmitting$ | async"
        (deleteEvent)="delete()"></app-detail-header>
    <!-- Body -->
    <div class="content-wrapper">
        <!-- Form -->
        <ng-container *ngIf="mode === 'create' || mode === 'edit'; else view">
            <ng-content select="[formView]"></ng-content>
        </ng-container>
        <!-- View -->
        <ng-template #view>
            <ng-content select="[showView]"></ng-content>
        </ng-template>
    </div>
</ng-container>
