<mat-drawer-container class="main-container">
    <mat-drawer-content>
        <ng-content></ng-content>
        <div class="button-bar-bottom">
            <div class="body">
                <button mat-fab color="red" [routerLink]="['./create']">
                    <fa-icon [icon]="['fas', 'plus']" [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>
    </mat-drawer-content>
    <mat-drawer #drawer mode="side" position="end" [opened]="detailOpened" class="drawer-wrapper">
        <router-outlet (activate)="detailOpened = true" (deactivate)="detailOpened = false"></router-outlet>
    </mat-drawer>
</mat-drawer-container>