@import '~src/styles/variables';

:host{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .content-wrapper{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 15px 10px;

        form{
            margin: 15px 10px;
            mat-form-field{
                width: 100%;
            }
        }
    }
}
