<div class="container">
    <span>{{ uiState.topMenuTitle$ | async }}</span>

    <div class="top-menu-user" [matMenuTriggerFor]="menu">
       <p>Peter Pan</p>
  <!--  <p>{{userService.authData$.getValue()?.user?.firstName}} {{userService.authData$.getValue()?.user?.lastName}}</p> -->
    <fa-icon [icon]="faUser"></fa-icon>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <!-- <fa-icon [icon]="['fab','pencil']"></fa-icon> -->
    <span>Manage</span>
  </button>
  <button mat-menu-item (click)="auth.logout()">
    <!-- <fa-icon [icon]="['fas','sign-out']"></fa-icon> -->
    <span>Logout</span>
  </button>
</mat-menu>