@import '~src/styles/variables';

:host {
    display: flex;
    flex-flow: column;
    flex: 1;
    .main-container {
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 15px;

        .filter-container{
            flex: 1;
            width: 100%;
        }

        .table-container {
            display: flex;
            flex-direction: column;
            table {
                flex: 1;

                .data-row{
                    cursor: pointer;
                }

                .data-row.active{
                    background-color: $color-blue;
                }

                .data-row:hover{
                    background-color: $color-light-blue;
                }
            }
        }
    }
}
